body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #EEEEEE;
}

.input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

.loader {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.chat-bubble-container {
    display: flex;
}

.chat-bubble {
    width: auto;
    margin: 8px;
    display: inline-block;
    border-radius: 16px
}

.chat-bubble-container-me {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
